alias nah='git reset --hard;git clean -df'
alias ..="cd .."
alias ...="cd ../.."
alias gp='git pull'
alias gpb='git push origin `git rev-parse --abbrev-ref HEAD`'
alias gpbf='git push origin `git rev-parse --abbrev-ref HEAD` --force'
alias gprune="git for-each-ref --format '%(refname:short)' refs/heads | grep -v "release" | xargs git branch -D"

rebase_against() {
    local branch=${1:-release}
    GIT_EDITOR="vim -c '2,\$s/pick/squash/g' -c 'wq'" git rebase -i --autosquash $branch
}

alias rebase-against=rebase_against

# Journey

alias ui='cd ~/code && cd onejourney-ui'
alias api='cd ~/code && cd onejourney-api'
alias brew='sudo -u josh.hornby-adm /opt/homebrew/bin/brew'
