"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "ember-cli-helper": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  "linter-eslint": {}
  nuclide:
    remoteProjectsConfig: []
  "one-dark-ui": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
